*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'bold';
    src: url(./fonts/Lato-Bold.ttf);
}
@font-face{
    font-family: 'regular';
    src:url(./fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: 'light';
    src:url(./fonts/Lato-Light.ttf);
}
@font-face{
    font-family: 'black';
    src:url(./fonts/Lato-Black.ttf);
}
@font-face{
    font-family: 'thin';
    src:url(./fonts/Lato-Thin.ttf);
}
.container{
    background: #f6f6f6;
    padding:0 20px;
    width:100%;
    margin: 0 auto;
}
.head{
    padding-left: 40px;
    width:1250px;
}
.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px 0px;
    background-color: #fff;
    box-shadow: 1px 1px 17px -1px hsla(0,0%,63%,.69);
    margin-bottom: 40px;
}
.header{
    display: flex;
    justify-content: center;
}
.top{
    text-align: center;
}
.topleft{
    width: 25%;
}
.logotext{
    margin-block: 11px;
    margin-left: -35px;
    font-family:'regular';
    color:#333;
    font-size: 20px;
    font-weight: 700;
}
.search{
    width:450px;
    height:20px;
    padding:20px;
    margin: 0px 0px 10px 0px;
    border-style: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'regular';
    background: #f6f6f6;
    display: flex;
    align-items: center;
}
.search-input{
    font-size: 14px;
    font-family: 'regular';
    font-weight: 600;
    color:#333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}
.search-input::placeholder, .search-icon{
    color: rgba(0,0,0,0.25)
}
.s_form{
    display:inline-flex;
}
.dropbtn{
    background-color: #2290ff;
    color: #ffff;
    width:120px;
    height:40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    font-family: 'regular';
    font-weight: 400;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #2290ff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    color:#fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    background-color: #fff;
    color:#2290ff;
}
.btn{
    background-color: #fff;
    color: #a0a0a0;
    width:25px;
    height:25px;
    border-radius: 50%;
    font-size: 14px;
    font-family: 'regular';
    font-weight: 400;
    border:1px solid #a0a0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-left: 10px;
}
.btn-content{
    display:none;
    position: absolute;
    background-color:#fff;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.btn-content a{
    color:#fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.btn:hover .btn-content {
    display: block;
    cursor: pointer;
}

.topright{
    display:flex;
}
.topright img{
    margin-left: 60px;
    width:40px;
    height:40px;
    border-radius: 50%;
}
.text{
    margin-top: 10px;
    margin-left: 10px;
    color:rgba(0,0,0,.25);
    font-family: 'regular';
    font-size: 14px;
    font-weight: 600;
}
.leftsection{
    width:500px;
    margin-left: 40px;
    border:none;
    padding-top: 25px;
    border-radius: 3px;
    box-shadow: 0 0 25px -5px hsla(0,0%,63%,.69);
    background-image: url(./images/leftimg.png);
    background-position: 91% 0px;
    background-size: 20px;
    background-repeat: no-repeat;
}
.leftavatar{
    padding-bottom: 20px;
}
.leftavatar img{
    width:45px;
    height: 40px;
    margin-left: 30px;
    margin-right: 25px;
    float: left;
}
#wel{
    font-size: 14px;
    font-family: 'light';
    font-weight: 600;
    color:#a0a0a0;
}
.left-content p{
    font-size: 11px;
    font-weight: 400;
    color: #a0a0a0;
    margin-top: 5px;
    letter-spacing: 0.5px;
}
.leftmenulink{
    width:100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-left:5px solid #fff;
    color: #a0a0a0;
    font-size: 17px;
}
.leftmenulink.currentlink{
    border-left-color:#2290ff;
    background-color: #f5faff;
    color: #2290ff;
}
.menu{
    max-width: 100%;
    display: inline-block;
}
.leftmenucontain a{
    text-decoration: none;
}
.leftmenulink:hover{
    border-left-color:#2290ff;
    background-color: #f5faff;
    color: #2290ff;
}
.leftmenulink.leftlogout{
   margin-top: 25px;
   margin-bottom: 100px;
}
.icon{
    position: relative;
    float: left;
    height: 1px;
    padding-left: 10px;
    padding-right: 40px;
}
.main{
    display: flex;
}
.mainsection{
    padding-bottom: 20px;
    padding-left: 20px;
    display: inline-block;
}
#mainmeet{
    margin-top: 0px;
    font-family: 'regular';
    font-weight: 600;
    font-size: 24px;
}
.subsection{
    width:870px;
    height:100px;
    border:none;
    margin-top: 20px;
    margin-right: 15px;
    padding:15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 12px 0 hsla(0,0%,63%,.69);
}
.m-section{
    display:flex;
}
.tab{
    flex-basis: 30%;
}
 .group1{
     width:70px;
     height:70px; 
     border: none; 
     border-radius: 50%;
     background-color: #f6f6f6;
     margin-left:15px;
   }

.group1.picture{
    background-image: url(./images/image2.png);
    background-position: 50% 50%;
    background-size: 35px;
    background-repeat: no-repeat;
}
.txt{
    margin-left: 100px;
    width:100px;
    padding-top: 14px;
}
#txtmeet{
    font-size: 11px;
    font-family: 'regular';
    font-weight: 300;
}
.maintab{
    display: flex;
}
.txtnum p{
    font-size: 30px;
    font-family: 'bold';
}
.mon p{
    font-size: 10px;
    margin-top: 13px;
    margin-left: 10px;
    font-family: 'light';
    font-weight: 700;
    color:#a0a0a0;
}
.group2{
    width:70px;
    height:70px; 
    border: none; 
    border-radius: 50%;
    background-color: #f6f6f6;
    margin-left:30px;
  }

.group2.picture1{
   background-image: url(./images/img3.png);
   background-position: 50% 50%;
   background-size: 35px;
   background-repeat: no-repeat;
}
.txt1{
   margin-left: 100px;
   width:105px;
   padding-top: 14px;
}
#txtmeet1{
   font-size: 10px;
   font-family: 'regular';
   font-weight: 300;
}
.maintab1{
   display: flex;
}
.txtnum1 p{
   font-size: 30px;
   font-family: 'bold';
}
.mon1 p{
   font-size: 10px;
   margin-top: 13px;
   margin-left: 10px;
   font-family: 'light';
   font-weight: 700;
   color:#a0a0a0;
}
.group3{
    width:70px;
    height:70px; 
    border: none; 
    border-radius: 50%;
    background-color: #f6f6f6;
    margin-left:45px;
  }

.group3.picture2{
   background-image: url(./images/img4.png);
   background-position: 50% 50%;
   background-size: 35px;
   background-repeat: no-repeat;
}
.txt2{
   margin-left: 100px;
   width:100px;
   padding-top: 14px;
}
#txtmeet2{
   font-size: 11px;
   font-family: 'regular';
   font-weight: 300;
}
.maintab2{
   display: flex;
}
.txtnum2 p{
   font-size: 30px;
   font-family: 'bold';
}
.mon2 p{
   font-size: 10px;
   margin-top: 13px;
   margin-left: 10px;
   font-family: 'light';
   font-weight: 700;
   color:#a0a0a0;
}
.mtoday p{
    margin-top:25px;
    margin-bottom: 20px;
    font-family: 'regular';
    font-size: 14px;
    color:#333;
}
.Tmeeting{
     width:100%;
     height: auto;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
}
.meeting1{
    width:280px;
    height:270px;
    margin-bottom: 5px;
    border: none;
    margin-right: 5px;
    margin-left: 0px;
    padding: 0px;
    border-radius: 3px;
    background-color: #fff;
    transition: all ease .30s;
    transform: translateY(5px);
}
.topmeet{
    padding: 15px;
    display:flex;
}
.imgdiv{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-image: url(./images/pic1.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    margin-right: 4px;
    margin-left: 10px;
}
.meet-contain{
     margin-top: 8px;
}
.meettitle{
    margin-bottom: 8px;
    margin-right: 4px;
    font-family: 'light';
    font-weight: 600;
    font-size: 12px;
}
.meetemail{
    font-size: 12px;
    font-weight: 500;
    font-family: 'light';
    color: #a0a0a0;
    margin-left: 24px;
    margin-bottom: 8px;
}
.meettime{
    font-family: 'regular';
    font-weight: 300;
    font-size: 16px;
    color:#a0a0a0;
    margin-right: 20px;
}
.middlemeet{
    padding: 20px;
    border-top:1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}
.mid-col{
    display: flex;
    justify-content: space-around;
}
.member{
    font-size: 12px;
    font-family: 'light';
    font-weight: 600;
    color:#22aeff;
}
.pending-mem{
    font-size: 12px;
    font-family: 'light';
    font-weight: 600;
    color:red;
}
.m-column{
    display: flex;
    justify-content: space-around;
}
.pic1{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic1img1.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic2{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -18px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic1img2.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic3{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -16px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic1img3.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic4{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -14px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic1img4.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.people{
    font-size: 11px;
    font-weight: 500;
    font-family: 'regular';
    color:#a0a0a0;
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
}
.bottommeet a{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#6d6d6d;
    text-align: center;
    text-decoration: none;
}
.details{
    font-size: 14px;
    font-family: 'regular';
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}
.meeting2{
    width:280px;
    height:270px;
    margin-bottom: 5px;
    border: none;
    margin-right: 5px;
    margin-left: 0px;
    padding: 0px;
    border-radius: 3px;
    background-color: #fff;
    transition: all ease .35s;
    transform: translateY(5px);
}
.topmeet1,.topmeet2{
    padding: 15px;
    display:flex;
}
.imgdiv1{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-image: url(./images/pic2.png);
    background-position: 50% 50%;
    background-size: cover;
    margin-right: 8px;
    margin-left: 10px;
}
.meet-contain1{
     margin-top: 8px;
}
.meettitle1{
    margin-bottom: 8px;
    margin-right: 2px;
    font-family: 'light';
    font-weight: 600;
    font-size: 12px;
}
.meetemail1{
    font-size: 12px;
    font-weight: 500;
    font-family: 'light';
    color: #a0a0a0;
    margin-left: 20px;
    margin-bottom: 8px;
}
.meettime1{
    font-family: 'regular';
    font-weight: 300;
    font-size: 16px;
    color:#a0a0a0;
    margin-right: 20px;
}
.middlemeet1{
    padding: 20px;
    border-top:1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}
.mid-col1{
    display: flex;
    justify-content: space-around;
}
.member1{
    font-size: 12px;
    font-family: 'light';
    font-weight: 600;
    color:#22aeff;
}
.pending-mem1{
    font-size: 12px;
    font-family: 'light';
    font-weight: 600;
    color:red;
}
.m-column1{
    display: flex;
    justify-content: space-around;
}
.pic5{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic2img1.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic6{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -18px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic2img2.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic7{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -16px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic2img3.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic8{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -14px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic2img4.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.people1{
    font-size: 11px;
    font-weight: 500;
    font-family: 'regular';
    color:#a0a0a0;
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
}
.bottommeet1 a{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#6d6d6d;
    text-align: center;
    text-decoration: none;
}
.details1{
    font-size: 14px;
    font-family: 'regular';
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}
.meeting3{
    width:290px;
    height:270px;
    margin-bottom: 5px;
    border: none;
    margin-right: 5px;
    margin-left: 0px;
    padding: 0px;
    border-radius: 3px;
    background-color: #fff;
    transition: all ease .40s;
    transform: translateY(5px);
}
.imgdiv2{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-image: url(./images/pic3.png);
    background-position: 50% 50%;
    background-size: cover;
    margin-right: 6px;
    margin-left: 10px;
}
.meet-contain2{
    margin-top: 8px;
}
.meettitle2{
   margin-bottom: 8px;
   margin-right: 25px;
   font-family: 'light';
   font-weight: 600;
   font-size: 12px;
}
.meetemail2{
   font-size: 12px;
   font-weight: 500;
   font-family: 'light';
   color: #a0a0a0;
   margin-left: 22px;
   margin-bottom: 8px;
}
.meettime2{
   font-family: 'regular';
   font-weight: 300;
   font-size: 16px;
   color:#a0a0a0;
   margin-right: 35px;
}
.middlemeet2{
   padding: 20px;
   border-top:1px solid #f6f6f6;
   border-bottom: 1px solid #f6f6f6;
}
.mid-col2{
   display: flex;
   justify-content: space-around;
}
.member2{
   font-size: 12px;
   font-family: 'light';
   font-weight: 600;
   color:#22aeff;
}
.pending-mem2{
   font-size: 12px;
   font-family: 'light';
   font-weight: 600;
   color:red;
}
.m-column2{
   display: flex;
   justify-content: space-around;
}
.pic9{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic3img1.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic10{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -18px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic3img2.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic11{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -16px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic3img3.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic12{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -14px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic3img4.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.people2{
    font-size: 11px;
    font-weight: 500;
    font-family: 'regular';
    color:#a0a0a0;
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
}
.bottommeet2 a{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#6d6d6d;
    text-align: center;
    text-decoration: none;
}
.details2{
    font-size: 14px;
    font-family: 'regular';
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

.meeting4{
    width:280px;
    height:270px;
    margin-bottom: 5px;
    border: none;
    margin-right: 5px;
    margin-left: 0px;
    padding: 0px;
    border-radius: 3px;
    background-color: #fff;
    transition: all ease .45s;
    transform: translateY(5px);
}
.topmeet3,.topmeet4,.topmeet5{
    padding: 15px;
    display:flex;
}
.imgdiv3{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-image: url(./images/pic4.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    margin-right: 12px;
    margin-left: 10px;
}
.meet-contain3,.meet-contain4,.meet-contain5{
     margin-top: 8px;
}
.meettitle3,.meettitle4,.meettitle5{
    margin-bottom: 8px;
    margin-right: 4px;
    font-family: 'light';
    font-weight: 600;
    font-size: 12px;
}
.meetemail3,.meetemail4,.meetemail5{
    font-size: 12px;
    font-weight: 500;
    font-family: 'light';
    color: #a0a0a0;
    margin-left: 24px;
    margin-bottom: 8px;
}
.meettime3,.meettime4,.meettime5{
    font-family: 'regular';
    font-weight: 300;
    font-size: 16px;
    color:#a0a0a0;
    margin-right: 16px;
}
.middlemeet3,.middlemeet4,.middlemeet5{
    padding: 20px;
    border-top:1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}
.mid-col3,.mid-col4,.mid-col5{
    display: flex;
    justify-content: space-around;
}
.member3,.member4,.member5{
    font-size: 12px;
    font-family: 'light';
    font-weight: 600;
    color:#22aeff;
}
.pending-mem3,.pending-mem4,.pending-mem5{
    font-size: 12px;
    font-family: 'light';
    font-weight: 600;
    color:red;
}
.m-column3,.m-column4,.m-column5{
    display: flex;
    justify-content: space-around;
}
.pic13{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic4img1.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic14{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -18px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic4img2.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic15{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -16px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic4img3.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic16{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -14px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic4img4.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.people3,.people4,.people5{
    font-size: 11px;
    font-weight: 500;
    font-family: 'regular';
    color:#a0a0a0;
    position: relative;
    margin-top: 20px;
    margin-right: 40px;
}
.bottommeet3 a{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#6d6d6d;
    text-align: center;
    text-decoration: none;
}
.details3,.details4,.details5{
    font-size: 14px;
    font-family: 'regular';
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}
.meeting5{
    width:280px;
    height:270px;
    margin-bottom: 5px;
    border: none;
    margin-right: 5px;
    margin-left: 0px;
    padding: 0px;
    border-radius: 3px;
    background-color: #fff;
    transition: all ease .50s;
    transform: translateY(5px);
}
.imgdiv4{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-image: url(./images/pic5.png);
    background-position: 50% 50%;
    background-size: cover;
    margin-right: 12px;
    margin-left: 10px;
}
.pic17{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic5img1.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic18{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -18px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic5img2.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic19{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -16px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic5img3.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic20{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -14px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic5mg4.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.bottommeet4 a{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#6d6d6d;
    text-align: center;
    text-decoration: none;
}
.meeting6{
    width:300px;
    height:270px;
    margin-bottom: 5px;
    border: none;
    margin-right: 5px;
    margin-left: 0px;
    padding: 0px;
    border-radius: 3px;
    background-color: #fff;
    transition: all ease .55s;
    transform: translateY(5px);
}
.meettitle5{
    margin-right: 24px;
}
.imgdiv5{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-image: url(./images/pic6.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    margin-right: 12px;
    margin-left: 10px;
}
.pic21{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic6img1.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic22{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -18px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic6img2.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic23{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -16px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic6img3.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.pic24{
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: -14px;
    border:1px solid #fff;
    border-radius: 50%;
    background-image:url(./images/pic6img4.jpeg) ;
    background-position: 50% 50%;
    background-size: cover;
}
.bottommeet5 a{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color:#6d6d6d;
    text-align: center;
    text-decoration: none;
}
.main{
    position: relative;
}
.inbox{
    position:fixed;
    right: 15px;
    bottom:15px;
    z-index:500;
    width:50px;
    height:50px;
    background-image: linear-gradient(180deg, #2290ff, #2290ff);
    box-shadow: 0 0 20px 0 hsla(0, 0%, 63%, .86);
    border-radius: 50%;
    color:#f6f6f6;
    text-decoration: none;
}
.bell{
    padding-top: 14px;
    text-align: center;
}
.inbox:hover{
    background: #fff;
    color: #2290ff;
}
.bottommeet:hover{
    background-color: #2290ff;
}
.details:hover{
    color:#fff;
}
.bottommeet1:hover{
    background-color: #2290ff;
}
.details1:hover{
    color:#fff;
}
.bottommeet2:hover{
    background-color: #2290ff;
}
.details2:hover{
    color:#fff;
}
.bottommeet3:hover{
    background-color: #2290ff;
}
.details3:hover{
    color:#fff;
}
.bottommeet4:hover{
    background-color: #2290ff;
}
.details4:hover{
    color:#fff;
}
.bottommeet5:hover{
    background-color: #2290ff;
}
.details5:hover{
    color:#fff;
}
@media (min-width:300px) and (max-width:479px){
    body{
        background-color:#f6f6f6;
    }
    .leftsection{
        display:none;
    }
    .head{
        width:390px;
        margin-bottom: 20px;
        margin-left: -30px;
    
    }
    .logotext{
        margin-top: 95px;
        margin-left: -10px;
        font-size: 22px;
        margin-bottom: 30px;
    }
    .mtoday p{
        margin-left: 30px;
        font-size: 24px;
    }
    .dropdown{
        display:none;
    }
    .topright img{
        margin-left: -200px;
        width:60px;
        height: 60px;
    }
    .text{
        margin-left: -120px;
        font-size: 20px;
        margin-top: 20px;
    }
    #txtmeet,#txtmeet1,#txtmeet2{
        font-size: 18px;
        text-align: center;
    }
    .search{
        width:150px;
        height: 60px;
        margin-top: 75px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
    .btn{
        margin-top: 90px;
        margin-bottom: 30px;
        margin-left: 40px;
    }
    .subsection{
        width:350px;
        height:200px;
        margin-left: -10px;
    }
    #mainmeet {
        margin-left: 10px;
    }
    .meettitle,.meettitle1,.meettitle2,.meettitle3,.meettitle4,.meettitle5{
        font-size:18px;
        text-align: center;
    }
    .meetemail,.meetemail1,.meetemail2,.meetemail3,.meetemail4,.meetemail5{
        font-size: 18px;
    }
    .Tmeeting{
        display:block;
        padding-inline: 30px;
    }
    .meeting1,.meeting2,.meeting3,.meeting4,.meeting5,.meeting6{
         width:340px; 
         height:290px; 
         margin-inline: -30px;
    }
    .txt{
        padding-right: 20px;
    }
    .txt2{
        padding-left: 26px;
    }
    .group1,.group2,.group3{
        width:40px;
        height:40px;
        display:block;
        margin-right: auto;
        margin-left: auto;
        margin-block: 20px;
    }
    .txt,.txt1,.txt2{
        margin-left: -40px;
        padding-top: 40px;
    }
    .m-section{
        justify-content: space-around;
    }
}
@media (min-width:480px) and (max-width:770px){
    body{
        background-color: #f6f6f6;
    }
    .leftsection{
        display: none;
    }
    .dropdown{
        display:none;
    }
    .topmeet,.topmeet1,.topmeet2,.topmeet3,.topmeet4,.topmeet5{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .head{
        width:450px;
        margin-bottom: 20px;
    }
    .search{
        width:120px;
        height: 60px;
        margin-left: 80px;
    }
    .logotext{
        margin-left: 90px;
    }
    .topright{
        margin-right: 80px;
    }
    .topright img{
        margin-left: -10px;
    }
    #mainmeet{
        margin-left: 30px;
    }
    .subsection{
        width:420px;  
        height: 150px;  
        margin-inline: 20px;
    }
    .group1,.group2,.group3{
        width:40px;
        height:40px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-block: 20px;
    }
    .txt,.txt1,.txt2{
        margin-left: -40px;
        padding-top: 40px;
    }
    .m-section{
        justify-content: space-around;
    }
    .Tmeeting{
        margin-inline: 30px;
    }
    .mtoday p{
        margin-left: 20px;
        font-size: 22px;
    }
    .imgdiv,.imgdiv1,.imgdiv2,.imgdiv3,.imgdiv4,.imgdiv5{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:120px;
        height:120px;
    }
      .meeting1,.meeting2,.meeting3,.meeting4,.meeting5,.meeting6{  
          width:400px;
          height:380px; 
      }  
}
@media(min-width:771px) and (max-width:991px){
    body{
        background: #f6f6f6;
    }
    .head{
        width:650px;
        margin-inline: 10px;
    }
    .leftsection{
        display:none;
    }
    .search{
        width:150px;
    }
    .dropdown{
        display:none;
    }
    .subsection{
        width:600px;
        height: 150px;
        margin-inline: 40px;
    }
    .Tmeeting{
        margin-inline: 40px;
        display:flex;
    }
    .meeting1,.meeting2,.meeting3,.meeting4,.meeting5,.meeting6{  
        width:300px;
        height:280px; 
    }
    .group1,.group2,.group3{
        width:40px;
        height:40px;
        display:block;
        margin-right: auto;
        margin-left: auto;
        margin-block: 20px;
    }
    .txt,.txt1,.txt2{
        margin-left: -40px;
        padding-top: 40px;
    }
    .m-section{
        justify-content: space-around;
    }
    #mainmeet{
        margin-left: 34px;
    }
    .mtoday p{
        margin-left: 40px;
    }
    
}